  <script src="https://use.typekit.net/xif5hiw.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <script src="/js/template.js"></script>
  <p><a href="https://secret-peak-54151.herokuapp.com/">bekijk hier mijn website!</a></p>
  </body>
</html>
